/airflow/.env
/airflow/credentials/
/.idea/
/airflow/logs/
/airflow/dags/__pycache__/
/airflow/dbt/logs/
/airflow/dbt/.user.yml
/.vscode
/airflow/dags/config/config.yaml
*.log
*.pyc
/airflow/dbt/profiles.yml
